.logo {
    display: inline-block;
    height: 60px;
    width: 150px;
    background-image: url('../logo_side.png');
    background-size: 65% ;
    background-position-y: 2px;
    background-position-x: 15px;
    background-repeat: no-repeat;
}

.App .navbar, .App .navbar-expand-md, .App .navbar-brand{
    padding-top: 0;
    padding-bottom: 0;
}